{% extends "landing_page/base.html" %}

{% block content %}

<section id="page1">
    {% include "landing_page/sections/1_first_contact.html" %}
</section>

<section id="page2">
    {% include "landing_page/sections/2_reconnectv2.html" %}
</section>

<section id="page3">
    {% include "landing_page/sections/3_natural_truths.html" %}
</section>

<section id="page4">
    {% include "landing_page/sections/4_about_us.html" %}
</section>

<section id="page5">
    {% include "landing_page/sections/5_reconnect_different.html" %}
</section>

<section id="page6">
    {% include "landing_page/sections/6_reconnect_different_detailed.html" %}
</section>

<section id="page7">
    {% include "landing_page/sections/7_our_promise.html" %}
</section>

<section id="page8">
    {% include "landing_page/sections/8_testimonials.html" %}
</section>

<section id="page9">
    {% include "landing_page/sections/9_faq.html" %}
</section>

{% endblock %}
