/static
/staticfiles
.env
reconnectv2-d46d6-firebase-adminsdk-lbxc6-6c57cc8259.json
reconnectv2-64cc06c747d9.json
app.yaml



## Database
#db.sqlite3


# PyCharm files
.idea/

# Byte-compiled Python files
*.pyc
__pycache__/